@use './fonts' as fonts;
@use './colors' as colors;
@use './components' as components;
@use './mixins' as mixins;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: rgb(78, 103, 180);
	color: #fff;
	font-family: 'Open Sans';
}
